/* CSS Document */

/* FONTS */
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ALGEMENE STYLING */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: eenfont, sans-serif;
    color: #111;
    background-color: var(--achtergrond1);
}


:root {
    --wit: #ffff;
    --zwart: #3d3d3d;
    --lichtgrijs: #f5f5f5;

    --kleur1: #7158e2;
    --kleur2: red;

    --achtergrond1: #3d3d3d;
    --achtergrond2: #4b4b4b;

    --rood: red;
    --groen: green;
    --geel: yellow;
    --blauw: blue;
    --roze: pink;
    --paars: purple;
}

@media (prefers-color-scheme: light) {
    :root {
        --achtergrond1: #ffff;
        --achtergrond2: #eaeaea;
    }
}


header section {
    background-color: var(--kleur1);
    max-width: 350px;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav {
    width: 100%;
    height: 100px;
    margin: 30px auto;
    background-color: var(--kleur1);
    text-align: center;
    padding-bottom: 20px;
}

nav div {
    max-width: 750px;
    text-align: center;
}





/* kleuren */

.kleuren {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-flex;
    width: 200px;
}

.filteranimatie{
    animation-name: filter-opzij;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.kleuren section {
    width: 40px;
    height: 40px;
}

.kleuren section:nth-child(1) {
    background-color: var(--rood);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kleuren section:nth-child(2) {
    background-color: var(--groen);
}

.kleuren section:nth-child(3) {
    background-color: var(--geel);
}

.kleuren section:nth-child(4) {
    background-color: var(--blauw);
}

.kleuren section:nth-child(5) {
    background-color: var(--paars);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#volgende {
    display: none;
    position: absolute;
    right: 40%;
    margin-top: 10px;
}

#opnieuw{
    display: none;
}


/* landen */
.landen {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.landen div {
    display: flex;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: var(--wit);
    width: 400px;
}


.landen div section {
    padding: 0 20px;
    margin: auto;
    cursor: pointer;
}


/* KEYFRAMES */

@keyframes filter-opzij {

    
    25% {
        left: 500px
    }

    50% {
        left: 1200px
    }
    
    75% {
        left: 1600px
    }


    100% {
        left: 2500px
    }

}




main {
    max-width: 1200px;
    padding: 20px;
}

main div:first-child {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
}

main div:first-child section {
    border: 1px solid var(--achtergrond2);
    position: relative;
    display: flex;
    align-items: flex-start;
    /*height: 320px;*/
    width: auto;
}

main div:first-child section h3 {
    padding: 3px 14px;
    position: absolute;
    font-size: 0.7em;
    top: 0px;
    background-color: var(--wit);
    border-bottom-right-radius: 10px;
}

main div:first-child section img {
    width: 100%;
    height: auto;
}

main div:first-child section p {
    padding: 7px 10px 0px 10px;
}

main div:first-child section button {
    background-color: var(--kleur1);
    color: var(--wit);
    letter-spacing: 2px;
    border: none;
    padding: 10px 30px;
    width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

main div:first-child section:empty {
    display: none;
}


@media only screen and (max-width: 600px) {
    header section:last-child nav ul {
        flex-direction: column;
    }

    header section:last-child nav ul li {
        margin: 20px 0;
    }    
}


@media only screen and (max-width: 900px) {
    main div:first-child {
        grid-template-columns: auto auto;
    }
}



@media only screen and (max-width: 600px) {
    main div:first-child {
        grid-template-columns: auto;
    }
}


/* BRAND STYLING */
