/* CSS Document */

/* FONTS */

@font-face {
    font-family: 'oreos';
    src: url('../fonts/oreos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ulker';
    src: url('../fonts/ulker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* ALGEMENE STYLING */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
}


@media (prefers-color-scheme: dark) {
    :root {
        --oreoachtergrond: #ffff;
        --oreozwart: #272727;
        --oreocreme: #bbbcbc;
        --oreoblauw: #003087;

        --ulkerachtergrond: #77030f;
        --ulkerrood: #e3051b;

        --wit: #ffff;
        --zwart: #000;
    }
}

@media (prefers-color-scheme: light) {

    :root {
        --oreoachtergrond: #ffff;
        --oreozwart: #000;
        --oreocreme: #dcdcdc;
        --oreoblauw: #7CC6F2;

        --ulkerachtergrond: #f52d42;
        --ulkerrood: #e3051b;

        --wit: #ffff;
        --zwart: #000;
    }
}


body {
    color: #111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 760px) {
    body {
        flex-direction: column-reverse;
    }

    .oreo,
    .ulker {
        zoom: 0.7;
    }
}

.oreo {
    background-color: var(--oreoachtergrond);
    width: 100%;
    height: 500px;
    padding: 50px;
    text-align: center;
    font-family: oreos;
    display: grid;
    align-items: center;
}

.oreo h1 {
    color: var(--oreoblauw);
    font-size: 6em;
    letter-spacing: -10px;
}

.oreo .letteranimatie span:first-child {
    position: absolute;
    display: inline-block;
    margin-left: -108px;
    animation: oreo-lettervooruit;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.oreo .animatie span:last-child {
    color: var(--oreocreme);
    position: absolute;
    margin-left: 20px;
    z-index: 999;
    animation-name: oreo-koekjevooruit;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.oreo .animatie span:last-child:before {
    content: '';
    display: inline-block;
    width: 120px;
    height: 80px;
    border-radius: 100px;
    background-color: var(--oreozwart);
    position: absolute;
    margin-left: -10px;
    margin-top: -15px;
}


.oreo .animatie span:last-child:after {
    content: '';
    display: inline-block;
    width: 110px;
    height: 85px;
    border-radius: 100px;
    background-color: var(--oreozwart);
    position: absolute;
    margin-left: -95px;
    margin-top: 12px;
    z-index: -999
}






.ulker {
    background-color: var(--ulkerachtergrond);
    width: 100%;
    height: 500px;
    padding: 50px;
    text-align: center;
    font-family: ulker;
    display: grid;
    align-items: center;
}

.ulker h1 {
    color: var(--ulkerrood);
    font-size: 8em;
    font-weight: 100;
    letter-spacing: -19px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.ulker h1 span:nth-child(1) {
    animation: ulker-letter1;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    display: inline-block;
    margin-left: -165px;
    margin-top: -60px;
}

.ulker h1 span:nth-child(2) {
    animation: ulker-letter2;
    animation-delay: 2.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    display: inline-block;
    margin-left: -88px;
    margin-top: -60px;
}

.ulker h1 span:nth-child(3) {
    animation: ulker-letter3;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    display: inline-block;
    margin-left: -28px;
    margin-top: -60px;
}

.ulker h1 span:nth-child(4) {
    animation: ulker-letter4;
    animation-delay: 3.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    display: inline-block;
    margin-left: 49px;
    margin-top: -60px;
}

.ulker h1 span:nth-child(5) {
    animation: ulker-letter5;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    display: inline-block;
    margin-left: 109px;
    margin-top: -60px;
}

/* BRAND STYLING */

@keyframes ulker-letter1 {

    10% {
        margin-left: 900px;
    }

    50% {
        margin-top: -600px;
        margin-left: -165px;
    }


    100% {
        margin-top: -60px;
    }

}


@keyframes ulker-letter2 {

    10% {
        margin-left: 900px;
    }

    60% {
        margin-top: -600px;
        margin-left: -88px;
    }

    100% {
        margin-top: -60px;
    }

}


@keyframes ulker-letter3 {

    10% {
        margin-left: 900px;
    }

    70% {
        margin-top: -600px;
        margin-left: -28px;
    }

    100% {
        margin-top: -60px;
    }

}

@keyframes ulker-letter4 {

    10% {
        margin-left: 900px;
    }

    75% {
        margin-top: -600px;
        margin-left: 49px;
    }

    100% {
        margin-top: -60px;
    }

}

@keyframes ulker-letter5 {

    10% {
        margin-left: 900px;
    }

    80% {
        margin-top: -600px;
        margin-left: 109px;
    }

    100% {
        margin-top: -60px;
    }

}















@keyframes oreo-lettervooruit {

    0% {
        margin-left: -110px;
    }

    20% {
        margin-top: -90px;
        margin-left: -110px;
    }

    90% {
        margin-top: -100px;
        margin-left: 180px;
    }

    100% {
        margin-left: 180px;
    }
}

@keyframes oreo-koekjevooruit {
    0% {
        margin-left: 20px;
    }

    10% {
        margin-left: 30px;
        margin-top: 10px;
    }

    20% {
        margin-left: 50px;
        margin-top: 30px;
    }

    30% {
        margin-left: 60px;
        margin-top: 80px;
    }

    40% {
        margin-left: 40px;
        margin-top: 110px;
    }

    50% {
        margin-left: 30px;
        margin-top: 130px;
    }

    60% {
        margin-left: -100px;
        margin-top: 140px;
    }

    70% {
        margin-left: -200px;
        margin-top: 140px;
    }

    80% {
        margin-left: -250px;
        margin-top: 100px;
    }

    90% {
        margin-left: -270px;
        margin-top: 30px;
    }

    100% {
        margin-left: -276px;
        margin-top: 10px;
    }


}
